# STRING

- A string object is one of the sequence data types in Python. Strings are used in Python to record text information. 

- It is an immutable sequence of Unicode characters. Strings are objects of Python's built-in class 'str'. 

- String literals are written by enclosing a sequence of characters in single quotes ('hello'), double quotes ("hello") or triple quotes ('''hello''' or """hello""").

- Subsets of strings can be taken using the slice operator ([ ] and [:] ) with indexes starting at 0 in the beginning of the string and working their way from -1 at the end.

In [1]:
# https://www.tutorialsteacher.com/python/python-string
# https://www.tutorialspoint.com/python/python_strings.htm

In [2]:
string1 = 'hello'

In [3]:
string1

'hello'

In [4]:
print (string1)

hello

In [5]:
string2 = "hello"

In [6]:
string2

'hello'

In [7]:
string3 = '''hello'''

In [8]:
string3

'hello'

In [9]:
string4 = """hello"""

In [10]:
string4

'hello'

- Note that the value of all the strings, as displayed by the Python interpreter, is the same ('hello'), irrespective of whether single, double or triple quotes were used for string formation. If it is required to embed double quotes as part of a string, the string itself should be put in single quotes. On the other hand, if a single-quoted text is to be embedded, the string should be written in double quotes.

In [11]:
str1 = 'welcome to "python tutorials" from tutorials teacher'

In [12]:
str1

'welcome to "python tutorials" from tutorials teacher'

In [13]:
str2 = "welcome to 'python tutorials' from tutorials teacher"

In [14]:
str2

"welcome to 'python tutorials' from tutorials teacher"

- A sequence is defined as an ordered collection of items. Hence, a string is an ordered collection of characters. The sequence uses an index (starting with zero) to fetch a certain item (a character in case of a string) from it.

In [1]:
str3 = 'Hello World'

In [2]:
print(str3)     #prints entire string

Hello World

In [3]:
str3

'Hello World'

In [4]:
print (str3[0])       #prints first character of the string

H

In [5]:
str3[0]      #it is called indexing

'H'

In [6]:
str3[2]

'l'

In [7]:
str3[5]

' '

In [8]:
str3[7]

'o'

In [10]:
str3

'Hello World'

In [9]:
str3[2:7]   #prints from 2nd index and goes upto 7th index but not includes 7th index #is is called slicing

'llo W'

In [24]:
str3[1:4]   #prints from 1st index and goes upto 4th index but not includes 4th index(prints from 1st index to 3rd index)

'ell'

In [25]:
str3[:5]  #prints from oth  index and goes upto 5th index but not include 5th index

'Hello'

In [26]:
str3[2:]  #prints from 2nd index to last index

'llo World'

In [27]:
str3[-1] #prints last character of the string

'd'

In [28]:
str3*2  #prints string 2 times

'Hello WorldHello World'

In [29]:
 str3+' wakeup'  #prints concatenated string

'Hello World wakeup'

In [12]:
str3[::]         ## all the way from begining to ending (begining:ending:stepsize)

'Hello World'

In [14]:
str3[::2]       ## all the way from begining to ending with stepsize of 2 (begining:ending:stepsize=2)

'HloWrd'

In [17]:
str3[::4]

'Hor'

In [20]:
str3[1:7:2]    ## from 1st index to go upto but not include index 7 with a step size of 2

'el '

In [21]:
str3[::-1]     ## reversing the string

'dlroW olleH'

### Strings are IMMUTABLE

-  An Immutable object can’t be changed after it is created.

In [22]:
string  = 'immutable'

In [23]:
string[0] = 'j'

TypeError: 'str' object does not support item assignment

 ###### String Concatenation

In [24]:
letters = string[1:]

In [25]:
'j'+letters

'jmmutable'

In [26]:
a = 'Hello World'

In [29]:
a + ' World Hello'

'Hello World World Hello World Hello'

## String Operators

In [30]:
#Operator    -  +
#Description -  Concatenation-Adds values on either side of the operator
#Example
a = 'hello'
b = 'world'
a+b

'helloworld'

In [31]:
#Operator    -  *
#Description -  Repetition-Creates new strings, concatenating multiple copies of the same string
#Example
a*3

'hellohellohello'

In [32]:
#Operator    -  []
#Description -  Slice-Gives the character from the given index
#Example
a[4]

'o'

In [33]:
#Operator    -  [:]
#Description -  Range Slice-Gives the characters from the given range
#Example
b[1:4]

'orl'

In [34]:
#Operator    -  in
#Description -  Membership-Returns true if a character exists in the given string
#Example
'w' in b

True

In [35]:
#Operator    -  not in
#Description -  Membership-Returns true if a character does not exist in the given string
#Example
'v' not in a

True

## Converting to string

- Python has an in-built function str() which returns a printable string representation of any object.
- They convert the string representation into integer, float and complex numbers, respectively. The str() function converts any number to a string object.

In [36]:
str(12)

'12'

In [37]:
str(2.5)

'2.5'

In [38]:
a = str(5+6j)

In [59]:
type(a)

str

## .format() method

- The format() method can handle complex string formatting more efficiently. This method of in-built string class provides the ability to do complex variable substitutions and value formatting. This new formatting technique is regarded as more elegant. The general syntax of the format() method is as follows:

string.format(str1, str2,...)

- The string itself contains placeholders {}, in which the values of variables are successively inserted.

In [40]:
name="Bill"
age=25
"My name is {} and I am {} years old.".format(name, age)

'My name is Bill and I am 25 years old.'

In [41]:
myStr = "My name is {} and I am {} years old."
myStr.format(name, age)

'My name is Bill and I am 25 years old.'

In [36]:
'my name is {}'.format('Bill')

'my name is Bill'

In [37]:
print('my name is {}'.format('Bill'))

my name is Bill

In [40]:
print('The {} {} {}'.format('brown','fox','quick'))

The brown fox quick

In [41]:
print('The {2} {0} {1}'.format('brown','fox','quick'))

The quick brown fox

In [43]:
'The {0}{0} {0}'.format('brown','fox','quick')   #giving indexes

'The brownbrown brown'

In [45]:
'The {q} {b} {f}'.format(b='brown',f= 'fox',q= 'quick')   #rather than giving indexes providing with a key value

'The quick brown fox'

In [46]:
print('The {q} {b} {f}'.format(b='brown',f= 'fox',q= 'quick'))

The quick brown fox

In [47]:
print('The {q} {q} {q}'.format(b='brown',f= 'fox',q= 'quick'))

The quick quick quick

## Built-in String Methods

- Type variable name and dot(.) and enter tab

## 1. capitalize()

- Converts the first character of a string to uppercase letters.

In [42]:
str = 'institution'
str.capitalize()

'Institution'

In [43]:
str = 'our institution'
str.capitalize()

'Our institution'

## 2. upper()

- Replaces the lowercase characters in a string with corresponding uppercase characters.

In [44]:
str = 'platform'
str.upper()

'PLATFORM'

In [45]:
str = 'learning platform'
str.upper()

'LEARNING PLATFORM'

## 3. lower()

- Replaces the uppercase characters in a string with corresponding lowercase characters.

In [46]:
x = 'BANGALOre'
x.lower()

'bangalore'

## 4. title()

- Returns the string with the first character of each word converted to uppercase.

In [47]:
string = 'i am from andhra pradesh'
string.title()

'I Am From Andhra Pradesh'

## 5. find()

- The find() method finds the first occurrence of a substring in another string. If not found, the method returns -1.

In [48]:
abc = 'python tutorial from tutorials teacher'
abc.find('from')   #Substring 'from' first occurs at position 16 (the count starts from 0).

16

In [49]:
abc.find('xyz')    #'xyz' is not found, hence it returns -1.

-1

## 6. count()

- The count() method returns the number of occurrences of a substring in the given string.

In [50]:
mystr='Python Tutorial From Tutorials Teacher'
mystr.count('Tutorial')

2

## 7. isalpha()

- The isalpha() method returns true if all the characters in a string are alphabetic letters (a-z or A-Z), otherwise it returns false.

In [51]:
xyz = 'pythontutorials'
xyz.isalpha()

True

In [52]:
xyz = 'python tutorials'
xyz.isalpha()

False

## 8. isdigit()

- The isdigit() is method returns true if all the characters in string are digits (0-9), if not, it returns false.

In [53]:
number = '3456'
number.isdigit()

True

In [54]:
number = '3,456'
number.isdigit()

False

## 9. islower()

- The islower() method returns true if all the characters in the string are lowercase characters, else it returns false.

In [55]:
word = 'python program'
word.islower()

True

In [56]:
word = 'New'
word.islower()

False

## 10. isupper()

- The isupper() method returns true if all the characters in the string are uppercase characters, else it returns false.

In [57]:
wrd = 'PYTHON'
wrd.isupper()

True

In [58]:
wrd = 'Python'
wrd.isupper()

False

## 12. split()

In [31]:
city = 'bangalore hyderabad chennai kolkata mumbabi'

In [32]:
city.split()

['bangalore', 'hyderabad', 'chennai', 'kolkata', 'mumbabi']

In [34]:
city.split('r')

['bangalo', 'e hyde', 'abad chennai kolkata mumbabi']