# LIST

In [ ]:
# https://www.tutorialsteacher.com/python/python-list
# https://www.tutorialspoint.com/python/python_lists.htm

- List is a collection of items of different data types. It is an ordered sequence of items.
- A list object contains one or more items, not necessarily of the same type, which are separated by comma(,) and enclosed in square brackets [].
- Creating a list is as simple as putting different comma-separated values between square brackets. For example −

In [40]:
list1 = ['physics', 'chemistry', 1997, 2000]
list2 = [1, 2, 3, 4, 5 ]
list3 = ["a", "b", "c", "d"]
list4 = ['cllection','items','different']
list5 = [1,"computer",75.50,True]

## Accessing Values in Lists

In [41]:
list1[0]

'physics'

In [42]:
list3[3]

'd'

In [43]:
list5[0:2]

[1, 'computer']

In [44]:
print( "list1[3]:", list1[3])

list1[3]: 2000

In [45]:
print("value in list2[4] is",list2[4])

value in list2[4] is 5

In [46]:
print("items between list4[1:3] is ",list4[1:3])

items between list4[1:3] is  ['items', 'different']

#### Concatenation in Lists

In [1]:
mylist = ['one',2,3]

In [2]:
otherlist = [4,'five',6]

In [3]:
mylist+otherlist

['one', 2, 3, 4, 'five', 6]

## Updating lists

- The list object is mutable. It is possible to modify its contents, which will modify the value in the memory.

- For instance, item at index 2 in list1 can be modified as shown below.

In [47]:
list1 = ['physics', 'chemistry', 1997, 2000]
list1[2] = 2020

In [48]:
list1

['physics', 'chemistry', 2020, 2000]

In [49]:
list4 = ['cllection','items','different']
print ("value available at index 1 is:")
print (list4[1])
print ('new value available at index1 is:')
list4[1] = 'stock'
print(list4[1])

value available at index 1 is:
items
new value available at index1 is:
stock

## Delete list elements

- To remove a list element, you can use either the del statement if you know exactly which element(s) you are deleting or the remove() method if you do not know. For example −

In [4]:
languages = ['telugu','english','hindi','kannada']

In [5]:
languages

['telugu', 'english', 'hindi', 'kannada']

In [6]:
del languages

In [7]:
languages

NameError: name 'languages' is not defined

In [8]:
languages = ['telugu','english','hindi','kannada']

In [9]:
del languages[2]

In [10]:
languages

['telugu', 'english', 'kannada']

## List Operators

In [56]:
#Operator    -  +
#Description -  Concatenation-Adds values on either side of the operator
#Example
languages1 = ['python','java']

In [102]:
languages1+languages1

['python', 'java', 'python', 'java']

In [103]:
#Operator    -  *
#Description -  Repetition-Creates new list, concatenating multiple copies of the same list
#Example
languages1*2

['python', 'java', 'python', 'java']

In [ ]:
#Operator    -  []
#Description -  Slice-Gives the character from the given index
#Example
languages1[1]

In [ ]:
#Operator    -  [:]
#Description -  Range Slice-Gives the characters from the given range
#Example
languages[1:3]

In [105]:
#Operator    -  in
#Description -  Membership-Returns true if a character exists in the given string
#Example
'python' in languages1

True

In [60]:
#Operator    -  not in
#Description -  Membership-Returns true if a character does not exist in the given string
#Example
'c' not in languages1

True

## Built-in List Methods

## len()

- The len() method returns the number of elements in the list.

In [61]:
L1 = [12,45,43,8,35,'abc']
len(L1)

6

## max()

- The max() method returns the largest number, if the list contains numbers. If the list contains strings, the one that comes last in alphabetical order will be returned.
- Note that if a list object contains strings as well as numeric items, max() and min() functions throw an error.

In [62]:
L = [12,45,43,8,35]

In [63]:
max(L)

45

In [64]:
L = ['abc','def','ghi']

In [65]:
max(L)

'ghi'

In [66]:
L =[1,2,3,4,'abc']

In [67]:
max(L)

TypeError: '>' not supported between instances of 'str' and 'int'

## append()

- Adds an item at the end of the list.

In [68]:
lst = ['abc','xyz',45]

In [69]:
lst.append(32)

In [70]:
lst

['abc', 'xyz', 45, 32]

In [71]:
lst.append(9.8)

In [72]:
lst

['abc', 'xyz', 45, 32, 9.8]

In [73]:
lst.append('asd')

In [74]:
lst

['abc', 'xyz', 45, 32, 9.8, 'asd']

## insert()

- Inserts an item in a list at the specified index.

In [75]:
lst = ['abc', 'xyz', 45, 32, 'qwe']

In [76]:
lst.insert(2,'lkj')

In [77]:
lst

['abc', 'xyz', 'lkj', 45, 32, 'qwe']

In [78]:
lst.insert(-2,100)

In [79]:
lst

['abc', 'xyz', 'lkj', 45, 100, 32, 'qwe']

## remove()

- Removes a specified object from the list.

In [80]:
lst  = ['abc', 'xyz', 'lkj', 45, 100, 32, 'qwe']

In [81]:
lst.remove('lkj')

In [82]:
lst

['abc', 'xyz', 45, 100, 32, 'qwe']

## pop()

- Removes and returns the last object in the list.

In [83]:
lst = ['abc', 'xyz', 45, 100, 32, 'qwe']

In [84]:
lst.pop()

'qwe'

In [85]:
lst

['abc', 'xyz', 45, 100, 32]

In [86]:
lst.pop(2)

45

In [87]:
lst

['abc', 'xyz', 100, 32]

## reverse()

- Reverses the order of the items in a list.

In [88]:
lst = ['abc', 'xyz', 45, 100, 32, 'qwe']

In [89]:
lst.reverse()

In [90]:
lst

['qwe', 32, 100, 45, 'xyz', 'abc']

## sort()

- Rearranges the items in the list according to the alphabetical order. Default is the ascending order. 
- For descending order, put reverse=True as an argument in the function bracket.

In [91]:
lst = ['abc', 'xyz', 'qwe','asd']

In [92]:
lst.sort()

In [93]:
lst

['abc', 'asd', 'qwe', 'xyz']

In [94]:
lst.sort(reverse=True)

In [95]:
lst

['xyz', 'qwe', 'asd', 'abc']

## list()

- Converts a tuple or string to a list object.

In [107]:
tuple1 = ('python', 'java', 'C++')

In [108]:
list(tuple1)

['python', 'java', 'C++']

In [109]:
string = 'pythonjava'

In [110]:
list(string)

['p', 'y', 't', 'h', 'o', 'n', 'j', 'a', 'v', 'a']