# TUPLE

In [1]:
# https://www.tutorialsteacher.com/python/python-tuple
# https://www.tutorialspoint.com/python/python_tuples.htm

- A tuple is a collection of objects which ordered and immutable. Tuples are sequences, just like lists. 
- The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses(), whereas lists use square brackets[].
- The tuple object contains one or more items, of the same or different types
- Creating a tuple is as simple as putting different comma-separated values. Optionally you can put these comma-separated values between parentheses also. For example −

In [28]:
tuple1 = ('python','java',12.3,999)

In [29]:
type(tuple1)

tuple

In [30]:
tuple2 = 'a','b','c','d'

In [31]:
type(tuple2)

tuple

In [32]:
tuple3 = 1,2,3,4

In [33]:
type(tuple3)

tuple

- The empty tuple is written as two parentheses containing nothing −

In [34]:
tup = ()

In [35]:
tup

()

- To write a tuple containing a single value you have to include a comma, even though there is only one value −

In [36]:
tup=(45,)

In [37]:
tup

(45,)

## Accessing Values in Tuples

In [38]:
tuple1 = ('bangalore','hyderabad','chennai','delhi',23.4,66)
tuple2 = ('dell','hp',65,10.3,'apple')

In [39]:
tuple1[2]

'chennai'

In [40]:
tuple2[3]

10.3

In [41]:
tuple1[2:5]

('chennai', 'delhi', 23.4)

In [45]:
print('tuple1[2:5] is',  tuple1[2:5])

tuple1[2:5] is ('chennai', 'delhi', 23.4)

## Updating tuples

- Tuples are immutable which means you cannot update or change the values of tuple elements.

In [46]:
tup  = ('abc',"sd")

In [47]:
tup[1] = 'gfh'

TypeError: 'tuple' object does not support item assignment

## Delete tuple elements

- Removing individual tuple elements is not possible. we can delete entire tuple
- There is, of course, nothing wrong with putting together another tuple with the undesired elements discarded.

In [48]:
tup = 1,2,3,4

In [49]:
del tup[1]

TypeError: 'tuple' object doesn't support item deletion

In [50]:
del tup

In [51]:
tup

NameError: name 'tup' is not defined

## Tuple operaters

In [56]:
# operator -  +
# description - Concatenation- Returns a tuple containing all the elements of the first and the second tuple object.
# example - 
t1 = ('a',2,'c',4)
t2 = 'e',6,'g',8
t3 = t1+t2
t3

('a', 2, 'c', 4, 'e', 6, 'g', 8)

In [60]:
t4 = t3+(2,)

In [61]:
t4

('a', 2, 'c', 4, 'e', 6, 'g', 8, 2)

In [59]:
# operator -  *
# description - repetiton - Creates new tuple, concatenating multiple copies of the same tuple
# example -
t1*2

('a', 2, 'c', 4, 'a', 2, 'c', 4)

In [62]:
# operator -  []
# description - slice - Returns the item at the given index. A negative index counts the position from the right side.
# example -
t4[2]

'c'

In [63]:
t4[-1]

2

In [64]:
t4[5]

6

In [66]:
# operator -  [:]
# description - Range slice - 	Fetches items in the range specified by the two index operands separated by : symbol.If the first operand is omitted, the range starts from the zero index. If the second operand is omitted, the range goes up to the end of the list.
# example - 
t4[1:3]

(2, 'c')

In [67]:
t4[:3]

('a', 2, 'c')

In [68]:
t4[3:]

(4, 'e', 6, 'g', 8, 2)

In [69]:
#Operator    -  in
#Description -  Membership-Returns true if a character exists in the given tuple
#Example
3 in t4

False

In [70]:
4 in t4

True

In [71]:
#Operator    -  not in
#Description -  Membership-Returns true if a character does not exist in the given tuple
#Example
'v' not in t4

True

In [72]:
'a' not in t4

False

## Functions

## len()

- Returns the number of elements in the tuple.

In [76]:
len(t4)

9

## max()

- If the tuple contains numbers, the heighest number will be returned.
- If the tuple contains strings, the one that comes last in alphabetical order will be returned.
- Note that if the tuple object contains strings as well as numeric items, max() and min() functions throw error.

In [77]:
max(t4)

TypeError: '>' not supported between instances of 'int' and 'str'

In [1]:
t = (1,2,66,44,89)

In [79]:
max(t)

89

In [80]:
t1 = 'qsc','efv','hgjf','hgja'

In [81]:
max(t1)

'qsc'

## min()

- If the tuple contains numbers, the lowest number will be returned. If the tuple contains strings, the one that comes first in alphabetical order will be returned.

In [82]:
min(t)

1

In [83]:
min(t1)

'efv'

## tuple()

- Converts a list or string to a tuple object.

In [84]:
list1 = ['telugu','english','hindi','kannada']

In [85]:
tuple(list1)

('telugu', 'english', 'hindi', 'kannada')

In [86]:
type(list1)

list

In [89]:
string1 = 'dell laptop'

In [90]:
tuple(string1)

('d', 'e', 'l', 'l', ' ', 'l', 'a', 'p', 't', 'o', 'p')

## Built-in Tuple Functions

## count()

In [2]:
t = 91,1,62,22,44,1

In [3]:
t.count(1)

2

## index()

In [4]:
t.index(44)

4