# DICTIONARY

In [1]:
# https://www.tutorialspoint.com/python/python_dictionary.htm
# https://www.tutorialsteacher.com/python/python-dictionary

- Like the list and the tuple, dictionary is also a collection type. However, it is not an ordered sequence, and it contains key-value pairs.
- Each key is separated from its value by a colon (:), the items are separated by commas, and the whole thing is enclosed in curly braces. An empty dictionary without any items is written with just two curly braces, like this: {}.

- Keys are unique within a dictionary while values may not be.
- The values of a dictionary can be of any type, but the keys must be of an immutable data type such as strings, numbers, or tuples.

In [2]:
## SYNTAX  =>  dict = { key1:value1, key2:value2,...keyN:valueN }

In [3]:
dictionary1 = {'Name':'Vineeth','Age':23,'Place':'Andhra pradesh'}

In [4]:
dictionary1

{'Name': 'Vineeth', 'Age': 23, 'Place': 'Andhra pradesh'}

In [6]:
dictionary1['Name']

'Vineeth'

- In the above example, dictionary1 is a dictionary object. 
- The left side of : is a key and right side of : is a value.  
- The key should be an immutable object. A number, string or tuple can be used as key. 
- Hence, the following definitions of dictionary are also valid

In [9]:
numNames={1:"One", 2: "Two", 3:"Three"}
decNames={1.5:"One and Half", 2.5: "Two and Half", 3.5:"Three and Half"}
items={("Parker","Reynolds","Camlin"):"pen",("LG","Whirlpool","Samsung"): "Refrigerator"}

- However, a dictionary with a list as a key is not valid, as the list is mutable:

In [34]:
dict1={["Mango","Banana"]:"Fruit", ["Blue", "Red"]:"Colour"}

TypeError: unhashable type: 'list'

- But, a list can be used as a value.

In [35]:
dict2={"Fruit":["Mango","Banana"], "Colour":["Blue", "Red"]}

- The same key cannot appear more than once in a collection. 
- If the key appears more than once, only the last will be retained. 
- The value can be of any data type. 
- One value can be assigned to more than one key.

In [12]:
staff={"Krishna":"Officer", "Steve":"Manager", "John":"officer", "Anil":"Clerk", "John":"Manager"}

In [13]:
staff

{'Krishna': 'Officer', 'Steve': 'Manager', 'John': 'Manager', 'Anil': 'Clerk'}

- In above example the same value parameter is used more than once. However, when key 'John' is assigned two different values, only the latest is retained, overwriting the previous value.

## Accessing values in Dictionary

- Dictionary is not an ordered collection, so a value cannot be accessed using an index in square brackets. A value in a dictionary can be fetched using the associated key, using the get() method. Specify the key in the get() method to retrieve its value

In [19]:
capitals={"USA":"New York", "France":"Paris", "Japan":"Tokyo", "India":"New Delhi"}
capitals.get("France")

'Paris'

In [20]:
points={"p1":(10,10), "p2":(20,20)}
points.get("p2")

(20, 20)

In [21]:
numbers={1:"one", 2:"Two", 3:"three",4:"four"}
numbers.get(2)

'Two'

In [22]:
capitals['USA']

'New York'

In [23]:
points['p2']

(20, 20)

In [24]:
numbers[2]

'Two'

In [25]:
dicti1 = {'k1':2.3,'k2':[3,4,5],'k3':{'key4':'values'}}

In [26]:
dicti1['k3']

{'key4': 'values'}

In [27]:
dicti1['k3']['key4']

'values'

In [28]:
dicti1['k2']

[3, 4, 5]

In [30]:
dicti1['k2'][1]

4

In [31]:
dicti1.keys()

dict_keys(['k1', 'k2', 'k3'])

In [32]:
dicti1.values()

dict_values([2.3, [3, 4, 5], {'key4': 'values'}])

In [33]:
dicti1.items()

dict_items([('k1', 2.3), ('k2', [3, 4, 5]), ('k3', {'key4': 'values'})])

## Updating a Dictionary

- As mentioned earlier, the key cannot appear more than once. Use the same key and assign a new value to it to update the dictionary object.

In [23]:
captains={"England":"Root", "Australia":"Smith", "India":"Dhoni"}

In [25]:
captains['India'] = 'Kohli'

In [26]:
captains

{'England': 'Root', 'Australia': 'Smith', 'India': 'Kohli'}

In [27]:
captains['Australia']= 'paine'

In [29]:
captains

{'England': 'Root', 'Australia': 'paine', 'India': 'Kohli'}

- Use a new key and assign a value to it. The dictionary will show an additional key-value pair in it.

In [30]:
captains['SA'] = 'Plessis'

In [31]:
captains

{'England': 'Root', 'Australia': 'paine', 'India': 'Kohli', 'SA': 'Plessis'}

## Deleting Values from a Dictionary

- Use the del keyword to delete a pair from a dictionary or the dictionary object itself. To delete a pair, use its key as parameter. To delete a dictionary object, use its name.

In [32]:
del captains['SA']

In [33]:
captains

{'England': 'Root', 'Australia': 'paine', 'India': 'Kohli'}

In [34]:
del captains

In [35]:
captains

NameError: name 'captains' is not defined

## View Keys and Values

- The keys() and values() methods of Python dictionary class return a view object consisting of keys and values respectively, used in the dictionary.

In [36]:
captains = {'England': 'Root', 'Australia': 'paine', 'India': 'Kohli', 'SA': 'Plessis'}

In [37]:
captains.keys()

dict_keys(['England', 'Australia', 'India', 'SA'])

In [38]:
captains.values()

dict_values(['Root', 'paine', 'Kohli', 'Plessis'])

## Multi-dimensional Dictionary

In [39]:
d1={"name":"Steve","age":25, "marks":60}
d2={"name":"Anil","age":23, "marks":75}
d3={"name":"Asha", "age":20, "marks":70}

- Let us assign roll numbers to these students and create a multi-dimensional dictionary with roll number as key and the above dictionaries at their value.

In [40]:
students = {1:d1,2:d2,3:d3}

In [42]:
students

{1: {'name': 'Steve', 'age': 25, 'marks': 60},
 2: {'name': 'Anil', 'age': 23, 'marks': 75},
 3: {'name': 'Asha', 'age': 20, 'marks': 70}}

In [46]:
students[1]

{'name': 'Steve', 'age': 25, 'marks': 60}

In [44]:
students[1]['name']

'Steve'

## Built-in Dictionary Methods

## len()

-  Returns the number of key:value pairs in the dictionary.

In [48]:
len(captains)

4

In [49]:
len(students)

3

## max()

- If all keys in the dictionary are numbers, the heighest number will be returned. If all keys in the dictionary are strings, the one that comes last in alphabetical order will be returned.

In [50]:
captains = {'England': 'Root', 'Australia': 'paine', 'India': 'Kohli', 'SA': 'Plessis'}

In [51]:
max(captains)

'SA'

In [52]:
scores = {'India':100, 'England':40, 'SA':89}

In [53]:
max(scores)

'SA'

In [55]:
numbers = {2:'two',5:'five',99:'nintey nine'}

In [56]:
max(numbers)

99

## min()

- If all keys in the dictionary are numbers, the lowest number will be returned. If all keys in the dictionary are strings, the one that comes first in alphabetical order will be returned.

In [57]:
min(captains)

'Australia'

In [59]:
min(scores)

'England'

In [60]:
min(numbers)

2

## pop()

- Returns the value associated with the key and the corresponding key-value pair is removed.

In [61]:
captains = {'England': 'Root', 'Australia': 'paine', 'India': 'Kohli', 'SA': 'Plessis'}

In [62]:
captains.pop('England')

'Root'

In [63]:
captains

{'Australia': 'paine', 'India': 'Kohli', 'SA': 'Plessis'}

## clear()

- Returns empty object by deleting all the key-value pairs.

In [65]:
captains.clear()

In [66]:
captains

{}

## items()

- Returns a list of tuples, each tuple containing the key and value of each pair.

In [74]:
captains = {'England': 'Root', 'Australia': 'paine', 'India': 'Kohli', 'SA': 'Plessis'}

In [68]:
captains.items()

dict_items([('England', 'Root'), ('Australia', 'paine'), ('India', 'Kohli'), ('SA', 'Plessis')])

## keys()

- Returns a list object comprising of the keys in the dictionary.

In [69]:
captains.keys()

dict_keys(['England', 'Australia', 'India', 'SA'])

## values()

- Returns a list object comprising of the values in the dictionary.

In [70]:
captains.values()

dict_values(['Root', 'paine', 'Kohli', 'Plessis'])

## update()

- Adds key-value pairs from the second dictionary object to the first. If the second dictionary contains a key already used in first dictionary object, its value is updated.

In [75]:
captains.update(students)

In [76]:
captains

{'England': 'Root',
 'Australia': 'paine',
 'India': 'Kohli',
 'SA': 'Plessis',
 1: {'name': 'Steve', 'age': 25, 'marks': 60},
 2: {'name': 'Anil', 'age': 23, 'marks': 75},
 3: {'name': 'Asha', 'age': 20, 'marks': 70}}

In [77]:
captains.update(scores)

In [78]:
captains

{'England': 40,
 'Australia': 'paine',
 'India': 100,
 'SA': 89,
 1: {'name': 'Steve', 'age': 25, 'marks': 60},
 2: {'name': 'Anil', 'age': 23, 'marks': 75},
 3: {'name': 'Asha', 'age': 20, 'marks': 70}}