# SETS

In [1]:
# https://www.tutorialsteacher.com/python/python-set

- A set is a collection of data types in Python, same as the list and tuple.
- However, it is not an ordered collection of objects. 
- The set is a Python implementation of the set in Mathematics. 
- A set object has suitable methods to perform mathematical set operations like union, intersection, difference, etc.

- A set object contains one or more items, not necessarily of the same type, which are separated by comma and enclosed in curly brackets {}.

In [80]:
set1 = {'city','country',True,2}

- A set doesn't store duplicate objects. Even if an object is added more than once inside the curly brackets, only one copy is held in the set object. Hence, indexing and slicing operations cannot be done on a set object.

In [81]:
set2 = {1,2,2,3,3,3,4,4,4,4,55,55}

In [83]:
set2

{1, 2, 3, 4, 55}

## set() function

- Python has an in-built function set(), using which a set object can be constructed out of any sequence such as a string, list or a tuple object.
- The order of elements in the set is not necessarily the same as the order given at the time of assignment.
- Python optimizes the structure of a set for performing operations over it, as defined in mathematics.

In [10]:
string1 = 'india'

In [9]:
set(string1)

{'a', 'd', 'i', 'n'}

In [19]:
list1 = ['street',2,99.01,48]

In [20]:
set(list1)

{2, 48, 99.01, 'street'}

In [21]:
tuple1 = ('street',4.9,'iuy')

In [22]:
set(tuple1)

{4.9, 'iuy', 'street'}

- Only immutable (and hashable) objects can be a part of a set object.
- Numbers (integer, float, as well as complex), strings, and tuple objects are accepted, but list and dictionary objects are not.

In [23]:
set1 = {2,99.8,'saturday',('monday',22)}

In [24]:
set1

{('monday', 22), 2, 99.8, 'saturday'}

In [25]:
set2 = {2,99.8,'saturday',['monday',22]}

TypeError: unhashable type: 'list'

- In the above example, ('monday',22) is a tuple, hence it becomes part of the set. 
- However, ['monday',22] is a list, hence an error message is displayed saying that the list is unhashable. 
- Hashing is a mechanism in computer science which enables quicker search of objects in the computer's memory.

- Even though mutable objects are not stored in a set, the set itself is a mutable object.

## Set Operations

In [39]:
#operator - |   union()
#operation  - The union of two sets is a set of all elements from both the collections.
set1 = {1,2,3,4,5}
set2 = {3,4,5,6,7}

In [40]:
set1|set2

{1, 2, 3, 4, 5, 6, 7}

In [41]:
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7}

In [42]:
set2.union(set1)

{1, 2, 3, 4, 5, 6, 7}

In [43]:
#operator - &    intersection()
#operation - The intersection of two sets is a set containing elements common to both collections.

In [44]:
set1&set2

{3, 4, 5}

In [45]:
set2&set1

{3, 4, 5}

In [46]:
set1.intersection(set2)

{3, 4, 5}

In [47]:
set2.intersection(set1)

{3, 4, 5}

In [48]:
# operator -  -   difference()
# operation - The difference of two sets results in a set containing elements only in the first set, but not in the second set.

In [49]:
set1-set2

{1, 2}

In [50]:
set2-set1

{6, 7}

In [51]:
set1.difference(set2)

{1, 2}

In [53]:
set2.difference(set1)

{6, 7}

In [54]:
# operator - ^   symmetric difference()
# operation - the result of symmetric difference is a set consisting of elements in both sets, excluding the common elements.

In [55]:
set1^set2

{1, 2, 6, 7}

In [57]:
set2^set1

{1, 2, 6, 7}

In [59]:
set1.symmetric_difference(set2)

{1, 2, 6, 7}

In [60]:
set2.symmetric_difference(set1)

{1, 2, 6, 7}

## Built-in set methods

## add()

- Adds a new element in the set object.

In [61]:
s1 = {'mon','tue',3}

In [62]:
s1.add('wed')

In [63]:
s1

{3, 'mon', 'tue', 'wed'}

## update()

- Adds multiple items from a list or a tuple.

In [64]:
S1={"Python", "Java", "C++"}
S1.update(["C", "Basic"])
S1

{'Basic', 'C', 'C++', 'Java', 'Python'}

In [65]:
S1.update(("Ruby", "PHP")) 
S1

{'Basic', 'C', 'C++', 'Java', 'PHP', 'Python', 'Ruby'}

## clear()

- Removes the contents of set object and results in an empty set.

In [66]:
S1.clear()

In [67]:
S1

set()

## copy()

- Creates a copy of the set object.

In [68]:
s1 = {'june','july',9.78}

In [69]:
s2 = s1.copy()

In [70]:
s2

{9.78, 'july', 'june'}

## discard()

- Returns a set after removing an item from it. 
- No changes are done if the item is not present.

In [71]:
s1 = {'jan','feb','mar',12,13}

In [72]:
s1.discard('mar')

In [73]:
s1

{12, 13, 'feb', 'jan'}

In [74]:
s1.discard(23)

In [75]:
s1

{12, 13, 'feb', 'jan'}

## remove()

- Returns a set after removing an item from it. 
- Results in an error if the item is not present.

In [76]:
s1 = {'jan','feb','mar',12,13}

In [77]:
s1.remove('jan')

In [78]:
s1

{12, 13, 'feb', 'mar'}

In [79]:
s1.remove(45)

KeyError: 45